<div class="content-wrapper">

    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>代理商列表</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a routerLink='/'>首页</a></li>
                        <li class="breadcrumb-item active">代理商列表</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>

    <section class="content">


        <div class="row">
            <div class="col-md-12">
                <!-- Horizontal Form -->
                <div class="card card-info">
                    <div class="card-header bg-gray-d">
                        <h3 class="card-title">搜索条件</h3>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <form class="form-horizontal">
                        <div class="card-body">
                            <div class="row">
                                <div class="form-group  col-lg-4 col-md-5  col-sm-6">
                                    <label for="inputEmail3" class=" col-form-label">代理商名称</label>
                                    <input type="text" class="form-control" id="inputEmail3" placeholder="请输入代理商名称"
                                        name='name' [(ngModel)]='name' />
                                </div>
                                <div class="form-group  col-lg-4 col-md-5  col-sm-6">
                                    <label for="inputEmail3" class=" col-form-label">代理商账号</label>
                                    <input type="text" class="form-control" id="inputEmail3" placeholder="请输入代理商账号"
                                        name='account' [(ngModel)]='account' />
                                </div>
                                <div class="form-group  col-lg-4 col-md-5  col-sm-6">
                                    <label for="inputEmail3" class=" col-form-label">联系电话</label>
                                    <input type="text" class="form-control" id="inputEmail3" placeholder="请输入联系电话"
                                        name='mobile' [(ngModel)]='mobile' />
                                </div>

                            </div>
                        </div>
                        <!-- /.card-body -->
                        <div class="card-footer">

                            <div class="float-right">
                                <button type="submit" class="btn bg-gray" (click)='reset()'>重置</button>
                                <button type="submit" class="btn btn-primary margin-left-20"
                                    (click)='search()'>搜索</button>
                            </div>

                            

                            <div>
                                <button type="submit" class="btn btn-info " routerLink='/addagent'>添加代理商</button> 

                                <button type="submit" class="btn btn-info margin-left-20" routerLink='/simcard'>分配SIM卡</button> 

                                <button type="submit" class="btn btn-info margin-left-20" routerLink='/creatorder'>余额充值</button> 
                            </div>

                            

                        </div>
                        <!-- /.card-footer -->
                    </form>
                </div>
                <!-- /.card -->


            </div>
        </div>


        <div class="row">
            <div class="col-md-12">
                <div class="card">
 
                    <div class="card-header">
                        <!-- <h3 class="card-title">Simple Full Width Table</h3> -->
                        <div class="card-title h5  ">总条数：{{agentlist.length}}条</div>

                        <div class="card-tools">
                            <ul class="pagination pagination-sm float-right">
                                <li class="page-item"><span class="page-link" (click)='Previous()'>&laquo;</span></li>
                                <li class="page-item" *ngFor='let i of pageList'><span
                                        class="page-link {{selPage==i?'bg-primary':''}}"
                                        (click)='changedate(i)'>{{i}}</span></li>
                                <li class="page-item"><span class="page-link" (click)='Next()'>&raquo;</span></li>
                            </ul>
                        </div>


                    </div>

                    <!-- /.card-header -->
                    <div class="card-body p-0" style="overflow-x: auto;">
                        <table class="table text-center" style="min-width: 768px;">
                            <thead>
                                <tr>
                                    <!-- <th>代理商</th> -->
                                    <th>序号</th>
                                    <th>账号</th>
                                    <th>上级代理商</th>
                                    <th>代理商名称</th>
                                    <th>联系电话</th>
                                    <th>SIM卡数量</th>
                                    <th>已使用卡数(激活)</th>
                                    <th>当前额度</th>
                                    <th>累积额度</th> 
                                    <th>折扣</th>
                                    <th>状态</th>
                                    <th>操作</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor='let item of data;let i=index'>
                                    <!-- <td>
                                        <img src="{{uploadpath}}agent/{{item.logo}}" class="icon-50" />
                                    </td> -->
                                    <ng-container *ngIf='item.id!=agentinfo.id'>

                                    <td>{{i+1}}</td>

                                    <td>{{item.account}}</td>

                                    <td>{{item.agent_id_name}}</td>
                                    
                                    <td>{{item.name}}</td>

                                    <td>{{item.mobile}}</td>

                                    <td>{{item.total}}</td>

                                    <td>{{item.jihuototal}}</td>

                                    <td>{{item.quota}}</td>

                                    <td>{{item.yixiaohao}}</td>

                                    <td>{{item.discount}}</td>
                                    
                                    <td>  
                                    <button class="badge  margin-right {{item.status=='A'?'bg-primary':'bg-red'}}" style="border: 0;"  (click)='update(item.id,item.status)'>{{item.status=="A"?"启用":"禁用"}}</button>
                                    </td>

                                    <!-- <td>
                                        <div class="badge bg-primary margin-right"><img
                                                src="{{uploadpath}}resource/{{res.xuanzhong}}" class="icon-15"
                                                title="查看详情"></div>
                                        <div class="badge bg-danger" data-toggle="modal" data-target="#modal-default">
                                            <img src="{{uploadpath}}resource/{{res.xuanzhong}}" class="icon-15"
                                                title="删除">
                                        </div> 
                                    </td> -->

                                    <td>
                                        <!-- <div class="badge bg-warning margin-right"><img
                                                src="{{uploadpath}}resource/{{res.status}}" class="icon-15"
                                                title="禁用/启用" (click)='update(item.id,item.status)'></div> -->

                                                <!-- <button class="badge bg-primary margin-right" style="border: 0;"  (click)='update(item.id,item.status)'>禁用/启用</button> -->

                                                <button class="badge bg-green margin-right" style="border: 0;"  (click)='detail(item.id)'>查看</button>

                                                <button class="badge bg-red margin-right" style="border: 0;" data-toggle="modal" data-target="#modal-default"  (click)='tanchuan(item.id)'>删除</button>

                                        <!-- <div class="badge bg-primary margin-right" (click)='detail(item.id)'><img
                                                src="{{uploadpath}}resource/{{res.update}}" class="icon-15"
                                                title="查看/修改"></div>
                                        <div class="badge bg-danger" data-toggle="modal" data-target="#modal-default">
                                            <img src="{{uploadpath}}resource/{{res.delete}}" class="icon-15" title="删除"
                                                (click)='tanchuan(item.id)'></div> -->
                                    </td>

                                    </ng-container>

                                </tr>

                            </tbody>
                        </table>
                    </div>

                </div>


            </div>
        </div>

    </section>
</div>




<div class="modal fade" id="modal-default" *ngIf='shanshow==true'>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">删除提示</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"></span>
                </button>
            </div>
            <div class="modal-body">
                <p>是否要删除该代理商?</p>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary" (click)='delete()' data-dismiss="modal">删除</button>
            </div>
        </div>
    </div>
</div>