<div class="login-page" *ngIf="instinfo!=null"  [style.background-image]="'url('+uploadpath+'resource/'+res.loginbg+')'" style="background-size:100% 100%;">
  <div class="login-box">
    <div class="login-logo">
      <b>{{instinfo.name}}</b>
    </div>
    <!-- /.login-logo -->
    <div class="card">
      <div class="card-body login-card-body">
        <p class="login-box-msg">You forgot your password? Here you can easily retrieve a new password.</p>

          <div class="input-group mb-3">
            <input type="email" class="form-control" [class.is-invalid]='isinvalid==true' placeholder="Email" 
            [(ngModel)]="email" (change)="isinvalid=false" >
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-envelope"></span>
              </div>
            </div>
            <span id="exampleInputEmail1-error" class="error invalid-feedback" style="display: '';" *ngIf='isinvalid==true'>{{invalidtext}}</span>
          </div>
          <div class="row">
            <div class="col-12">
              <button (click)='sendreset()' class="btn btn-primary btn-block">Request new password</button>
            </div>
            <!-- /.col -->
          </div>

        <p class="mt-3 mb-1">
          <a href="/login">Login</a>
        </p>
      </div>
      <!-- /.login-card-body -->
    </div>
  </div>
</div>
