<div class="login-page" *ngIf="instinfo!=null"  [style.background-image]="'url('+uploadpath+'resource/'+res.loginbg+')'" style="background-size:100% 100%;">
  <div class="login-box">
    <div class="login-logo">
      <b>{{instinfo.name}}</b>
    </div>
    <!-- /.login-logo -->
    <div class="card">
      <div class="card-body login-card-body">
        <p class="login-box-msg">登录以开始会话</p>

        <!-- <form  > -->
          <div class="input-group mb-3">
            <input type="text" class="form-control"  [(ngModel)]='username' name='username' placeholder="请输入您的账号">
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-envelope"></span>
              </div>
            </div>
          </div>
          <div class="input-group mb-3">
            <input type="password" class="form-control"  [(ngModel)]='password' name='password' placeholder="请输入您的密码">
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-lock"></span>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-8">
              <div class="icheck-primary">
                <input type="checkbox" id="remember" [(ngModel)]='isremember'>
                <label for="remember">
                  记住密码
                </label>
              </div>
            </div>
            <!-- /.col -->
            <div class="col-4">
              <button  (click)='login()' class="btn btn-primary btn-block">登录</button>
            </div>
            <!-- /.col -->
          </div>
        <!-- </form> -->


        <p class="mb-1">
          <a href="/content?keycode=kehuforget" target="__blank">忘记密码？</a>
        </p>

      </div>
      <!-- /.login-card-body -->
    </div>
  </div>
</div>
