<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0 text-dark">首页</h1>
        </div><!-- /.col -->
      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
  </div>
  <!-- /.content-header -->

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">


      <div class="row">
        <div class="col-12 col-sm-6 col-md-3">
          <div class="info-box cur-po" routerLink="/recharge-order">
            <span class="info-box-icon bg-info elevation-1"><i class="fas fa-cog"></i></span>

            <div class="info-box-content">
              <span class="info-box-text">今日充值</span>
              <span class="info-box-number">
                {{days}}
              </span>
            </div>

          </div>

        </div>

        <div class="col-12 col-sm-6 col-md-3">
          <div class="info-box mb-3 cur-po" routerLink="/recharge-order">
            <span class="info-box-icon bg-danger elevation-1"><i class="fas fa-thumbs-up"></i></span>

            <div class="info-box-content">
              <span class="info-box-text">本月充值</span>
              <span class="info-box-number">{{month}}</span>
            </div>

          </div>

        </div>

        <div class="col-12 col-sm-6 col-md-3">
          <div class="info-box mb-3 cur-po">
            <span class="info-box-icon bg-success elevation-1"><i class="fas fa-shopping-cart"></i></span>

            <div class="info-box-content">
              <span class="info-box-text">累积充值</span>
              <span class="info-box-number">{{allprice}}</span>
            </div>

          </div>

        </div>



        <div class="clearfix hidden-md-up"></div>

        <div class="col-12 col-sm-6 col-md-3">
          <div class="info-box mb-3 cur-po">
            <span class="info-box-icon bg-success elevation-1"><i class="fas fa-shopping-cart"></i></span>

            <div class="info-box-content">
              <span class="info-box-text">卡统计</span>
              <span class="info-box-number">{{cardtoatl}}张</span>
            </div>

          </div>

        </div>




      </div>


      <div class="row" id="statincome" > 
        <div class="col-md-12 col-sm-12" *ngIf="clientaccoptions!=null">
          <div echarts [options]='clientaccoptions'>
          </div>
          
        </div>
      </div>


      <div class=" ">
        <div class="card-body padding-40">
            <pre style="white-space:pre-wrap;color: gray;">{{InstInfo.shuoming}}</pre>
        </div> 
    </div>



    </div>




    

  </section>

</div>