<div class="content-wrapper bg-white padding-40">
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>帮助用户解决问题</h1>
                </div>
                
            </div>
        </div>
    </section>



    <section class="content">
        <div class=" ">
            <div class="card-body  ">
              <pre style="white-space:pre-wrap;color: gray;">{{content}}</pre>
            </div>
          </div>
    </section>
</div>