<div class="content-wrapper">
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>下级代理商额度申请</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a routerLink='/'>首页</a></li>
                    </ol>
                </div>
            </div>
        </div>
    </section>

    <section class="content">

        <div class="row">
            <div class="col-md-12">
                <!-- Horizontal Form -->
                <div class="card card-info">
                    <div class="card-header bg-gray-d">
                        <h3 class="card-title">搜索条件</h3>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <form class="form-horizontal">
                        <div class="card-body">
                            <div class="row">

                                <div class="form-group  col-lg-4 col-md-5  col-sm-6">
                                    <label for="inputEmail3" class=" col-form-label">代理商</label>
                                    <input type="text" class="form-control" id="inputEmail3" placeholder="请输入代理商名称"
                                        name='name' [(ngModel)]='name' />
                                </div>

                            </div>
                        </div>
                        <!-- /.card-body -->
                        <div class="card-footer">
                            <div class="float-right">
                                <button type="submit" class="btn bg-gray" (click)='reset()'>重置</button>
                                <button type="submit" class="btn btn-primary margin-left-20"
                                    (click)='search()'>搜索</button>
                            </div>
                            <!-- <div>
                                <button type="submit" class="btn btn-info " routerLink='/creatorder'>新增分配记录</button>
                            </div> -->

                        </div>
                        <!-- /.card-footer -->
                    </form>
                </div>
                <!-- /.card -->


            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <!-- <h3 class="card-title">Simple Full Width Table</h3> -->
                        <div class="card-title h5 ">总条数：{{shenqing.length}}条</div>
                        <div class="card-tools">
                            <ul class="pagination pagination-sm float-right">
                                <li class="page-item"><span class="page-link" (click)='Previous()'>&laquo;</span></li>
                                <li class="page-item" *ngFor='let i of pageList'><span
                                        class="page-link {{selPage==i?'bg-primary':''}}"
                                        (click)='changedate(i)'>{{i}}</span></li>
                                <li class="page-item"><span class="page-link" (click)='Next()'>&raquo;</span></li>
                            </ul>
                        </div>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body p-0" style="overflow-x: auto;">
                        <table class="table text-center" style="min-width: 768px;">
                            <thead>
                                <tr>
                                    <!-- <th width='1%'><img src="{{uploadpath}}resource/{{res.check}}" class="icon-20"
                                            *ngIf='check==true' (click)='choose()' />
                                        <img src="{{uploadpath}}resource/{{res.nocheck}}" class="icon-20"
                                            *ngIf='check==false' (click)='choose()' /></th> -->

                                    <th>代理商名称</th>
                                    <th>申请额度</th>
                                    <th>申请时间</th>
                                    <th>处理状态</th>
                                    <th>备注</th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor='let item of shenqing;let i=index'>
                                    <!-- <td>
                                        <img src="{{uploadpath}}resource/{{res.check}}" class="icon-20"
                                            *ngIf='check==true' />
                                        <img src="{{uploadpath}}resource/{{res.check}}" class="icon-20"
                                            *ngIf='check==false' />
                                    </td> -->
                                    <!-- <td>
                                        <img src="{{uploadpath}}agent/{{item.agent2_logo}}" class="icon" />
                                    </td> -->

                                    <td> {{item.agent2_name}}</td>
                                    <td>
                                        {{item.quota}}
                                    </td>
                                    <td>{{item.shenqingtime_formatting}}</td>
                                    <td>{{item.shenqingstatus_name}}</td>
                                    <td>{{item.remarks}}</td>

                                    <td>
                                        <div class="badge bg-primary margin-right" *ngIf='item.shenqingstatus=="A"'>
                                            <img src="{{uploadpath}}resource/{{res.update}}" class="icon-15" data-toggle="modal" data-target="#modal-default"
                                                title="同意" (click)='tongyi(item.id,item.quota,item.agent2_id)'></div>

                                        <div class="badge bg-primary margin-right" *ngIf='item.shenqingstatus=="B"' >
                                            <img src="{{uploadpath}}resource/{{res.ok}}" class="icon-15"
                                                title="已同意"></div>

                                        <!-- <div class="badge bg-danger">
                                            <img src="{{uploadpath}}resource/{{res.delete}}" class="icon-15"
                                                title="删除">
                                        </div> -->
                                    </td>

                                </tr>

                            </tbody>
                        </table>
                    </div>

                </div>


            </div>
        </div>

    </section>
</div>



<div class="modal fade" id="modal-default" *ngIf='shanshow==true'>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">提示</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"></span>
                </button>
            </div>
            <div class="modal-body">
                <p>确定分配额度给该代理商?</p>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary" (click)='confirm()' data-dismiss="modal">确定</button>
            </div>
        </div>
    </div>
</div>