<div class="login-page" *ngIf="instinfo!=null" [style.background-image]="'url('+uploadpath+'resource/'+res.loginbg+')'" style="background-size:100% 100%;">
  <div class="login-box">
    <div class="login-logo">
      <b>{{InstInfo.agentname}}</b>
    </div>
    <!-- /.login-logo -->
    <div class="card">
      <div class="card-body login-card-body" *ngIf="resetsuccess==1">

        <p class="login-box-msg">Reset password successfully, please login again</p>
        <div class="row">
          <div class="col-12">
            <button class="btn btn-primary btn-block" (click)="this.navigate('/login')">Login</button>
          </div>
          <!-- /.col -->
        </div>
      </div>
      <div class="card-body login-card-body" *ngIf="resetsuccess==0">

        <p class="login-box-msg txt-bold">修改密码</p>

        <div>
 

          <div class="input-group mb-3">
            <input (change)='typeres()' type="text" [(ngModel)]="oldpassword" class="form-control"
              [class.is-invalid]='isinvalid==true&&invalidtext2!=""' placeholder="请输入原密码">
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-lock"></span>
              </div>
            </div>
            <span class="error invalid-feedback" style="display: '';"
               >{{invalidtext1}}</span> 
          </div>
          
          <div class="input-group mb-3">
            <input (change)='typeres()' type="text" [(ngModel)]="password" class="form-control"
              [class.is-invalid]='isinvalid==true&&invalidtext2!=""' placeholder="请输入新密码">
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-lock"></span>
              </div>
            </div>
            <span class="error invalid-feedback" style="display: '';"
               >{{invalidtext1}}</span> 
            <!-- <span class="error invalid-feedback" style="display: '';"
               >{{invalidtext2}}</span>  -->
          </div>

          <div class="input-group mb-3">
            <input (change)='typeres()' type="text" [(ngModel)]="password2" class="form-control"
              [class.is-invalid]='isinvalid==true&&invalidtext2!=""' placeholder="请再次输入新密码">
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-lock"></span>
              </div>
            </div>
            <span class="error invalid-feedback" style="display: '';"
               >{{invalidtext2}}</span> 
          </div>
          



          <div class="row">
            <div class="col-12">
              <button type="submit" class="btn btn-primary btn-block" (click)="changePassword()">
                提交修改</button>
            </div>
            <!-- /.col -->
          </div>

        </div>

        <!-- <p class="mt-3 mb-1">
          <a routerLink="">Login</a>
        </p> -->
      </div>
      <!-- /.login-card-body -->
    </div>
  </div>
  <!-- /.login-box -->
</div>
